<template name="item_files">
    <!-- PASS FILE PARAM eg. 
        {{#each image in files}}
            {{> img file=image }}
        {{/each}}
    -->
    {{docChanged this.files this.file}}
    <div class="thumbnail-wrapper">

        <!-- IF CONTAINS MULTIPLE FILES -->
        {{#if files}}
        <div class="slide-preview">
            {{#each url in files}}
            <img class="slide-item" src="{{url}}">
            {{/each}}
        </div>
        {{else}}<!-- ELSEIF FILESS -->
            <!-- IF ONLY CONTAINS SINGLE FILE -->
            {{#if file}}
                {{#if isOtherFile}}
                <div class="thumbnail">
                    <i class="material-icons">folder</i>
                </div>
                {{else}}
                <div class="file-preview">
                    <img class="{{classStyle}}" id="thumbnail-{{file._id}}" src="{{src}}">
                </div>
                {{/if}}

                {{#if this.fullscreen}}
                <div class="thumbnail-hover js-fullscreen" data-link="">
                    <i class="material-icons">pageview</i>
                </div>
                {{/if}}

                {{#if this.info}}
                <!-- <div class="file-info">
                    {{#if file.tilte}}
                    <span>{{file.title}}</span>
                    {{else}}
                    <span>{{file.file.name}}</span>
                    {{/if}}
                </div> -->
                <div class="info-hover">
                    {{#if file.title}}
                    <span>{{file.title}}</span>
                    {{else}}
                    <span>{{file.file.name}}</span>
                    {{/if}}
                </div>
                {{/if}}

            {{else}}<!-- ELSEIF FILE -->
            <!-- NO FILES AND NO FILE PASSED -> SET EMPTY IMAGE -->
            <div class="file-preview">
                <i class="material-icons">desktop_access_disabled</i>
            </div>
            {{/if}}<!-- ENDIF FILE -->

        {{/if}}<!-- ENDIF FILESS -->



        <!-- {{#if isOtherFile}}
        <div class="thumbnail">
            <i class="material-icons">folder</i>
        </div>
        {{else}}
        <div class="thumbnail">
            <img class="{{classStyle}}" id="thumbnail-{{file._id}}" src="{{src}}">
        </div>
        
        {{/if}}
        {{#if this.fullscreen}}
        <div class="thumbnail-hover js-fullscreen" data-link="">
            <i class="material-icons">pageview</i>
        </div>
        {{/if}}
        {{#if this.info}}
        <div class="info">
            <span>{{file.title}}</span>
        </div>
        {{/if}} -->
    </div>
</template>