<template name="select_files">

    <!-- <a class="btn btn-success" pd-popup-open="popupFileSelect" href="#">Open Modal</a> -->
    <div class="popup" pd-popup="popupFileSelect" pd-popup-close="popupFileSelect">
        <div class="popup-inner">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <div class="title">
                        <h5>File type goes here [video, image, etc]</h5>
                    </div>
                    <div class="actions">
                        <div class="action-item">
                            <span class="material-icons popup-close" pd-popup-close="popupFileSelect"> clear</span>
                        </div>

                    </div>

                </div>


                <div class="popup-content">
                    <div class="full-col">
                        <div class="drive-container">
                            <div class="file-listing">
                                {{#let key=this.key}}
                                {{#each docFile in filesList}}
                                <div class="file-item js-file" data-key="{{key}}" data-file="{{docFile._id}}">
                                    <div class="file-thumb">
                                        <!-- <i class="material-icons">folder</i> -->
                                        <!-- <img src="http://localhost/files/bxxpwy2cwGNumjWTK/e39EXRuqvfNZuB26c/main.jpeg"> -->
                                        {{>img file=docFile}}
                                    </div>
                                    <div class="file-info">
                                        <div class="file-name">{{docFile.file.name}}</div>
                                        <!-- <div class="file-size">{{formatBytes docFile.file.size}}</div> -->
                                    </div>
                                </div>
                                {{/each}}
                                {{/let}}
                            </div>
                        </div>


                    </div>
                </div>

                <div class="popup-footer">
                    footer
                </div>
            </div>


        </div>
    </div>
</template>