<template name="media_upload">
    <div class="media-upload">
        {{#with uploadProgress}}
        <div class="upload-progress">
            <div class="progress-name">
                <h4>{{uploadProgress.name}}</h4>
            </div>
            <div class="progress-precent">
                <h5>{{uploadProgress.percent}}%</h5>
            </div>
            {{> progress_input progress=uploadProgress.percent}}
        </div>
        {{else}}
        <div class="upload-icon">
            <i class="material-icons">
                cloud_upload
            </i>
        </div>
        <div class="upload-description">
            <p>Click the button and select the file you want to upload to this account.</p>
        </div>
        <div class="upload-button">
            <input type='file' id="upload-input" data-key="{{this.key}}" hidden />
            <button class="btn btn-primary js-upload">Select File</button>
        </div>
        {{/with}}
    </div>
</template>