#landing-header.scrolling{
    background-color: var(--bs-white);
    box-shadow: var(--shadow-sm);
    border-bottom: var(--border-sm);

    >h5{
        color: var(--bs-white)
    }

    >nav{

        >a{
            color: var(--bs-white);
        }
    }

    >a{
        color: var(--bs-white);
    }
}